<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="EdmondsCommerce\Migrations\Contracts\Catalog\CategoryContract" type="EdmondsCommerce\Migrations\Helper\Catalog\Category"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\Config\CatalogContract" type="EdmondsCommerce\Migrations\Helper\Config\Catalog"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\Config\GeneralContract" type="EdmondsCommerce\Migrations\Helper\Config\General"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\Config\StoreContract" type="EdmondsCommerce\Migrations\Helper\Config\Store"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\Widgets\CatalogWidgetContract" type="EdmondsCommerce\Migrations\Helper\Widgets\CatalogWidget"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\ConfigManagerContract" type="EdmondsCommerce\Migrations\Helper\ConfigManager"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\WidgetManagerContract" type="EdmondsCommerce\Migrations\Helper\WidgetManager"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\CMS\BlockContract" type="EdmondsCommerce\Migrations\Helper\CMS\Block"/>
    <preference for="EdmondsCommerce\Migrations\Contracts\GlobalDatabaseContract" type="EdmondsCommerce\Migrations\Helper\GlobalDatabase"/>
</config>